{% extends 'index.html' %} {% block content %}
<div id="formulario">
  <h3 style="color: #666666">Formulario de ejemplo</h3>
  <form action="/add/" method="POST">
    {% csrf_token %}
    <label for="nombre">Nombre:</label>
    <input type="text" id="nombre" name="nombre" />
    <label for="email">Email:</label>
    <input type="email" id="email" name="email" />
    <label for="password"> Contraseña: </label>
    <input type="password" id="password" name="password" />
    <label for="edad">Edad:</label>
    <input type="number" id="edad" name="edad" />
    <label for="genero">Género:</label>
    <select id="genero" name="genero">
      <option value="M">Masculino</option>
      <option value="F">Femenino</option>
    </select>
    <label for="mensaje">Mensaje:</label>
    <textarea id="mensaje" name="mensaje" rows="4" cols="50"></textarea>

    <button id="submit" type="submit">Enviar</button>
  </form>
</div>
{% endblock content %}
