{% extends 'index.html' %} {% block content %}

<div>
  <h4 style="color: #666666; text-align: center">Tabla de ejemplo</h4>
  <table style="border-collapse: collapse">
    <tr>
      <th>Nombre</th>
      <th>Email</th>
      <th>Edad</th>
      <th>Genero</th>
      <th>Mensaje</th>
    </tr>
    {% for persona in personas %}
    <tr>
      <td>{{ persona.nombre }}</td>
      <td>{{ persona.email }}</td>
      <td>{{ persona.edad }}</td>
      <td>{{ persona.genero }}</td>
      <td>{{ persona.mensaje }}</td>
    </tr>
    {% endfor %}
  </table>
</div>

{% endblock content %}
