{% load static %}

<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Ejemplo de HTML con estilos inline</title>
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}" />
  </head>
  <body style="background-color: #f2f2f2; font-family: Arial, sans-serif">
    <div id="encabezado" style="text-align: center">
      <h1>Hola mundo!</h1>
      <h2 style="color: #666666">Subtítulo 1</h2>
      <p>Hola compañeros.</p>
      <h3 style="color: #666666">Subtítulo 2</h3>
      <p>Van a ganar IPC2</p>
    </div>
    <div id="contenido">
      <div
        style="
          text-align: center;
          align-items: center;
          justify-content: center;
          margin: 0 auto;
          width: 50%;
          background-color: #ffffff;
          padding: 20px;
          border: 1px solid #666666;
          margin-top: 20px;
        "
      >
        <ul style="list-style-type: none; margin: 0; padding: 0">
          <li style="display: inline; margin-right: 15px">
            <a href="/add/"> Agregar </a>
          </li>
          <li style="display: inline">
            <a href="/list/"> Listar </a>
          </li>
        </ul>
      </div>
    </div>
  </body>
  <main role="main">{% block content %}{% endblock %}</main>
</html>
